<div class="col-md-10">
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Extrato</h3></div>
    <div class="panel-body">
      <%= form_tag balances_search_path, remote: true do %>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= text_field_tag :start_at, nil, class: 'form-control datepicker', placeholder: 'Data Inicial' %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= text_field_tag :end_at, nil, class: 'form-control datepicker', placeholder: 'Data Final'%>
            </div>
          </div>
          <div class="col-md-4">
            <%= submit_tag 'Pesquisar', class: "btn btn-primary" %>
          </div>
        </div>
        <div id="result">

        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      Saldo: <%= current_user.balance.amount %>
    </div>
  </div>
</div>
