<!DOCTYPE html>
<html>
  <head>
    <title>NilBank</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Página Inicial</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <% if current_user.manager? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clientes<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li>

                      <%= link_to "Listagem", manager_customers_path %>
                    </li>
                    <li>
                      <%= link_to "Cadastrar Cliente", new_manager_customer_path %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ver<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/">Saldo</a></li>
                    <li>
                      <%= link_to "Extrato", balances_path %>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transações<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to "Saque", transaction_new_path(:withdraw) %>
                    </li>
                    <li>
                      <%= link_to "Depósito", transaction_new_path(:deposit) %>
                    </li>
                    <li>
                      <%= link_to "Transferência", transaction_new_path(:transfer) %>
                    </li>
                  </ul>
                </li>
                <li>
                  <%= link_to "Investimentos", investments_portfolio_path %>
                </li>
                <li>
                  <%= link_to "Visitas do Gerente", manager_visits_path%>
                </li>
              <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to('Trocar Usuário', destroy_user_session_path, :method => :delete, class: "btn btn-danger") %>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
